<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <img src="{{item.image}}" alt="" width="450" height="500"> {#"{{}}" ngoặc nhọn trong dấu nháy vẫn đc coi là biến#}
    <p>
        <b>name</b>: {{item.name}}</p>
    <p>
        <b>yob</b>: {{item.yob}}</p>
    <p>
        <b>height</b>: {{item.height}}</p>
    <p>
        <b>phone</b>: {{item.phone}}</p>
    <p>
        <b>address</b>: {{item.address}}</p>
    <p>
        <b>discription</b>: {{item.discription}}</p>
    <p>
        <b>measurement</b>: {{item.measurement[0]}} - {{item.measurement[1]}} - {{item.measurement[2]}}</p>
    <a href="{{url_for('update',user_id = item.id )}}">update</a>
    <hr>
</body>
</html>